body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    position: relative;
    background-color: #000;
}

canvas {
    display: block;
    background-color: #000;
    cursor: none;
}
#loading-screen {
    display: none;
}

/* Fullscreen styles */
body:fullscreen {
    background-color: #000;
}

body:-webkit-full-screen {
    background-color: #000;
}

body:-moz-full-screen {
    background-color: #000;
}
